/* CSS chung */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.mtmb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* CSS chi tiết */

main {
    width: 800px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.banner {
    margin-bottom: 40px;
    position: relative;
    width: auto;
}

.banner__title {
    position: absolute;
    bottom: 80px;
    left: 0;
    background-color: rgba(227, 181, 58, 0.8);
    padding: 0 20px;
    width: 500px;
    height: 100px;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.thumbnail {
    border-top: 6px solid #f4c326;
}

.thumbnail-image:hover {
    cursor: pointer;
    opacity: 90%;
}

.post-title {
    cursor: pointer;
}

.post-title:hover {
    color: #f4c326;
}

/* CSS Mobile Responsive */

@media screen and (max-width: 767px) {

    main {
        width: auto;
        margin: 0 auto;
    }

    .banner__title {
        position: absolute;
        bottom: 30px;
        left: 0;
        background-color: rgba(227, 181, 58, 0.8);
        padding: 0 20px;
        width: 270px;
        max-width: 767px;
        height: 70px;
        font-size: 18px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

}

/* CSS Tablet Responsive */

@media screen and (min-width: 768px) and (max-width:1023px) {

    main {
        width: auto;
        margin: 0 auto;
    }

    .banner__title {
        position: absolute;
        bottom: 50px;
        left: 0;
        background-color: rgba(227, 181, 58, 0.8);
        padding: 0px 20px;
        width: 500px;
        height: 130px;
        font-size: 30px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

}